html {
    background: #FFFFFF;
}

body {
    padding: 10em;
    margin: 0 auto;
    font-family: Oswald, "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: #22252C;
    letter-spacing: 2px;
}

form {
    text-align: center;
    background-color: #3F3250;
    color: #FFFFFF;
    padding: 10px 10px;
    font-size: 14px;
    width: 400px; 
    height: 200px; 
    margin: 0 auto; 
    border-radius: 10px; 
}

input[type=text] {
    width: 195px;
    height: 20px;
    text-align: center;
}

input[type=submit] {
    width: 200px;
    background-color: #E14658;
    color: #C0B3A0;
    font-weight: bold;
    padding: 5px 10px;
    margin: 2px;
    cursor: pointer;
    border-radius: 5px;
}

#PartA, #PartC {
    margin: 40px;
    position: fixed;
    bottom: 0px;
    color: #E14658;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 20px;
}

#PartA {
    left: 0px;
}

#PartC {
    right: 0px;
}